@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white dark:bg-black;
    }
}

@layer components {
    .card-zoom {
        @apply hover:scale-105 transition-all ease-in-out duration-200;
    }
    .new-line {
        white-space: pre-wrap;
    }
    .card-zoom1 { 
        @apply scale-90 hover:scale-95 transition-all ease-in duration-200;
    }
}

/* @layer components {
  .wrapper {
    @apply max-w-[1420px] mx-auto flex justify-center items-center p-4;
  }
} */

html {
    scroll-behavior: smooth;
    /* overflow: -moz-scrollbars-none; */
    /* scrollbar-width: none; */
}

::-webkit-scrollbar {
    display: none;
}
